<div class="container">
    <mat-card>
        <mat-card-content *ngFor="let question of questions">
            <mat-card-title>
                <a mat-list-item routerLink="/question/{{question.id}}" routerLinkActive="active">
                    {{question.title}} ({{question.rank}})
                </a>
            </mat-card-title>
            <mat-card-subtitle>
                <app-loader [isLoading]="isLoading" size="1.5"></app-loader>
                <q [hidden]="isLoading">{{question.content}}</q>
            </mat-card-subtitle>
            <mat-card-footer>{{question.createdBy.name}} ({{question.createdBy.karma}})</mat-card-footer>
        </mat-card-content>
    </mat-card>
</div>
